<div class="hero is-dark has-text-centered">
    <h1>Eat-Da-Burger</h1>
    <p>Make and Eat burgers!</p>
    </div>
<div class="columns">
<div class="column">
<p class = "is-size-4 has-text-centered"><u>Burgers not Devoured</u></p>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <li>
        {{burger_name}}

        <button class="devour-button " data-id="{{id}}" data-newdevour="true">
            Devour!
        </button>
    </li>
    {{/unless}}
    {{/each}}
</ul>
</div>
    <div class="column">

    <p class="is-size-4 has-text-centered"><u>Burgers Devoured</u></p>

                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}

                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="devour-button" id="eatbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fa fa-usd"></span></button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>
    </div>
</div>